*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: yellow;
    padding: 50px 0;
}
.wrapper{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
    /* display: inline-flex; */
    border: 1px solid black;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: flex-direction + flex-wrap; */
    /* flex-flow: column flex-wrap; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* gap: 30px 10%; */
    
}
.logo{
    /* width: 100%; */
    /* width: 40%; */
    /* height: 50px; */
    background-color: orange;
}
.nav{
    /* width: 100%; */
    /* width: 50%; */
    height: 150px;
    background-color: red;
}
.wrapper div:nth-child(1){
    /* order: 1; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* align-self: flex-start; */
}
.wrapper div:nth-child(2){
    /* order: 0; */
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    /* align-self: center; */


}
.wrapper div:nth-child(3){
    /* align-self: flex-end; */

    /* order: 3; */
    /* flex-grow: 2; */
    /* flex-shrink: 1; */

}