*{
    box-sizing: border-box;
}
@keyframes first{
    from{
        background-color: blue;
    }
    to{
        background-color: yellow;
    }
}
@keyframes pro{
    0%{
        background-color: black;
        left: 0;
        top: 0;
        border-radius: 0px;
    }
    25%{
        background-color: rgb(234, 9, 9);
        left: 100px;
        top: 0;
        border-radius: 20px;
    }
    50%{
        background-color: rgb(137, 234, 9);
        left: 100px;
        top: 100px;
        border-radius: 50px;
        
    }
    75%{
        background-color: rgb(16, 9, 234);
        left: 0;
        top: 100px;       
        border-radius: 20px;

    }
    100%{
        background-color: black;
        left: 0;
        top: 0;
        border-radius: 0px;

    }
}
.my-first-animation{
    width: 200px;
    height: 200px;
    background-color: blue;
    /* margin: 50px auto; */
    position: absolute;
    /* animation-name: first; */
    animation-name: pro;
    animation-duration: 2s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;

}
.my-first-animation.revers{
    animation-direction: reverse;
    animation-delay: 10s;
}