*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.i-grid{
    display: inline-grid;
    background-color: yellow;
}
.grid{
    width: 90%;
    margin: 0 auto;
    background-color: red;
    display: grid;
    height: 400px;
    gap: 20px;
    /* grid-template-columns: 400px 500px; */
    /* grid-template-columns: 100px auto; */
    /* grid-template-columns: 40% 55%; */
    /* grid-template-columns: 20vw auto auto; */
    /* grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr; */
    /* grid-template-columns: repeat(3, 100px 200px); */
    /* grid-template-columns: repeat(3, 1fr 2fr); */
    /* grid-template-columns: minmax(300px, 40%) minmax(300px, 60%); */
    /* grid-template-columns: repeat(5, minmax(200px, 20%)); */
    /* grid-template-columns: repeat(3, minmax(100px, 1fr) minmax(200px, 2fr)); */
    /* grid-template-columns: repeat(2, minmax(100px, 1fr))  minmax(200px, 2fr); */
    grid-template-columns: repeat(2, minmax(100px, 20%));
    /* grid-template-rows: 100px auto; */
    /* grid-template-rows: 200px 200px; */
    grid-template-rows: repeat(10, 100px);
    /* justify-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: end; */
    align-items: center;
    /* align-content: center; */

}
.grid div:nth-child(1){
    justify-self: start;
    align-self: start;
}
.grid div:nth-child(2){
    justify-self: center;
    align-self: center;
}
.grid div{
    background-color: black;
    border: 1px solid white;
    color:white;
}
/* .grid div:nth-child(1){
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid div:nth-child(3){
    background-color: rgb(12, 170, 91);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
} */

.area-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 200px 200px 100px;
    grid-template-areas:
    "header header header"
    "navigation main main"
    "navigation . ."
    "navigation footer footer";
}
header{
    background-color: green;
    grid-area: header;
    display: flex;
}
aside{
    background-color: rgb(200, 4, 112);
    grid-area: navigation;
}
main{
    background-color: rgb(157, 151, 154);
    grid-area: main;
}
/* .area-grid div{
    background-color: rgb(93, 5, 96);
    grid-area: block;
} */
footer{
    background-color: rgb(157, 214, 12);
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .area-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(4, minmax(150px, auto));
        grid-template-areas:
        "header header"
        "main main"
        "navigation navigation"
        "footer footer";
    } 
}